{:schema "kotoba.capability.repository.v1", :capability/version 1, :capability/hash-contract-cid "bafkreiflhj3fslsbh7okdas2fzlhmogai64x6p3lkla6gtr7berbp7ftvi", :capability/definition-cid "bafyreianwq3237kfalo2fq7iyyz5malxuq5xc5dutdmwefpgfn4stvttfe", :capability/dependencies #{}, :capability/imports #{}, :authority "kotoba-lang/kotoba-core-contracts", :capability/default-policy :approval-required, :capability/artifact {:format :wasm-component, :digest-required? true, :signature-required? true}, :capability/radicle-rid "rad:z2ma8sQFJZ11Zqh4wGqVNN3KxB5Qf", :capability/repository "kotoba-lang/capability-calendar-read", :capability/id "calendar/read", :capability/effects #{:storage-read :personal-data}, :capability/provider-status :contract-only}